{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input style="background-color: rgb(20, 24, 24); color: white;" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input style="background-color: rgb(20, 24, 24); color: white;" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input style="background-color: rgb(20, 24, 24); color: white;" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="class" name="class" placeholder="Class" type="text">
        </div>
        <div class="mb-3">
            <input style="background-color: rgb(20, 24, 24); color: white;" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input style="background-color: rgb(20, 24, 24); color: white;" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button style="background-color: rgb(20, 24, 24); border-color: rgb(112, 211, 140); color: rgb(112, 211, 140);" class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
